*{
    font-family: 'Roboto' , sans-serif;
}
h1{
    margin-left: 35px; 
    color: red;
}
h2{

    color:green;
}
ol{

    color:red;
}
ul{
    color:darkred;
    font-style: italic;
}
.first{

    font-weight:bold ;
    font-size: 20px;
}
.second{

    font-weight:bold ;
    font-style:italic ;
    color: blue;
}
.third{
    color: red;
    font-weight:bold ;
    font-size: 20px;
}
 